<ion-header>
  <ion-toolbar color="teal">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="login-logo">
    <img src="../../assets/logo.png" alt="logo">
  </div>
  <div class="about-info" text-center>
    <h4 class="ion-padding-start">Livraria Al Kitab</h4>
  
<form [formGroup]="formContato" (ngSubmit)="onSubmit()">

  <br>
  <div text-center>
 <h3>  Fale conosco, nos envie sugestões, </h3>
 <h3>  reclamações ou elogios. </h3>
</div>


<br>
<br>


 <div>
  <ion-card padding="stretch">
    
    <ion-input type="text" formControlName="texto">

    </ion-input>
  
  </ion-card>
</div>

  <br>
  <br>
  <br>
  
  <div>
  <ion-button color="teal" expand="block" size="large" type="submit" [routerLink]="['']">
    Enviar
    <ion-icon slot="end" name="arrow-forward"></ion-icon>
  </ion-button>
</div>
</form>