<ion-header>
  <ion-toolbar>
    <ion-title>contato</ion-title>
  </ion-toolbar>
  <ion-back-button></ion-back-button>
</ion-header>



<ion-content>
<div class='center'>
  <p>  Fale conosco, nos envie sugestões, </p>
    <p>reclamações ou elogios. </p>
</div>

<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <label>escreva aqui</label>
  <br>
  <br>
  <ion-card padding="stretch"><ion-textarea></ion-textarea></ion-card>
  <br>
  <br>
  <br>
  
  <ion-button type="submit">Enviar</ion-button>

</ion-content>
