<ion-header>
  <ion-toolbar color="teal">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="branco">Sobre</ion-title>
    <ion-buttons  class="branco" slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="../../assets/logo.png" alt="logo">
  </div>
  <div class="about-info" text-center>
    <h4 class="ion-padding-start">Livraria Al Kitab</h4>


<ion-item>
  <div class="center">
    <p class="ion-padding-start ion-padding-end">
      A livraria Al Kitab foi criada com a intenção de ser uma loja especifica de livros de critica textual,

      aqui você vai encontrar livros nas linguas originais da Bíblia, Alcorão, e da Torah.
      
    </p>
  </div>
  </ion-item>  
  </div>
  <br>
  <br>
  <br>
  <a class="ion-padding-start"  [routerLink]="['/contato']"> Tem alguma duvida, sugestão ou reclamação? </a>

