<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="../../assets/logo.png" alt="logo">
  </div>
  <div class="about-info">
    <h4 class="ion-padding-start">Livraria Al Kitab</h4>



    <p class="ion-padding-start ion-padding-end">
      A livraria Al Kitab foi criada com a intenção de ser uma loja especifica de livros de critica textual,

      aqui você vai encontrar livros nas linguas originais da Bíblia, Alcorão, e da Torah.
    </p>
  </div>
  <br>
  <br>
  <br>
  <a class="ion-padding-start"  [routerLink]="['/contato']"> Tem alguma duvida, sugestão ou reclamação? </a>

