<ion-header>
  <ion-toolbar color="teal">
    <ion-buttons class="branco" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="branco">Esqueci minha senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formEsqueciSenha" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <div padding>
      <ion-button color="teal" expand="block" type="submit"><b class="branco">Resetar minha senha</b></ion-button>
    </div>
  </form>
</ion-content>
