<ion-header>
  <ion-toolbar color="teal">
    <ion-buttons class="branco" slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title class="branco">Adicionando novo produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <div class="center">
      
       
    <img [src]="produto.img">
  <h1>{{ produto.nome }}</h1>
  <h5>Autor: {{ produto.autor}}</h5>
  <h5>Editora: {{ produto.editora}}</h5>
  <pre text-wrap>{{ produto.descricao }}</pre>
  <app-valor [valor]="produto.preco"></app-valor>
</div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="stacked">Quantidade</ion-label>
      <ion-input type="number" min="0" step="1" formControlName="quantidade" (ionChange)="executaCalcularTotal()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="teal" (click)="adicionarQuantidade()">
              <ion-icon class="branco" name="add"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="teal" (click)="removerQuantidade()">
              <ion-icon class="branco" name="remove"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
      
    <!-- <ion-item>
      <ion-label position="stacked">Observação</ion-label>
      <ion-textarea formControlName="observacao"></ion-textarea>
    </ion-item> -->

    <ion-item text-end>
      <ion-label>
        <h2>Total: <app-valor [valor]="total"></app-valor></h2>
      </ion-label>
    </ion-item>

    <div margin-vertical>


      <ion-button color="teal" expand="block" type="submit"> <b class="branco">Adicionar ao carrinho</b></ion-button>
    </div>
  </form>
</ion-content>
